{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": ["last 2 Chrome versions"]
        }
      }
    ]
  ],

  "plugins": [
    [
      "babel-plugin-dotenv",
      {
        "replacedModuleName": "babel-dotenv"
      }
    ]
  ]
}
